* {
    background-color: blanchedalmond;
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    position: sticky;
    top: 0px;
}

#navbar {
    text-align: right;
    background-color: rgb(111, 135, 111);
}

.links {
    display: inline;
    list-style-type: none;
    font-size: 16px;
    font-weight: bolder;
    background-color: rgb(111, 135, 111);
}

.links a {
    background-color: rgb(111, 135, 111);
}

section, p {
    background-color: rgb(111, 135, 111);
    color:black;
    text-align: center;
}

figure {
    width: 300px;
    height: 300px;
    display: block;
    font-style: italic;
    background-color: rgb(111, 135, 111);
    margin: 0 auto;
}

figcaption {
    background-color: palevioletred;
    display: block;
}

ul, li, .contactform h2 {
    background-color: lightsalmon;
    text-align: left;
    list-style-type: square;
}
.contactform {
    background-color: lightsalmon;
    height: auto;
    width: 300px;
    margin: 0 auto;
    top: 0px;
    bottom: 0px;
    padding: 20px;
    border: 20px double rgb(111, 135, 111);
}

label {
    background-color: lightsalmon;
}